In [1]:
import pandas as pd

In [2]:
jan = pd.read_csv('DECAP/2019/jan2019.csv', sep = ';')
fev = pd.read_csv('DECAP/2019/fev2019.csv', sep = ';')
mar = pd.read_csv('DECAP/2019/mar2019.csv', sep = ';')
abr = pd.read_csv('DECAP/2019/abr2019.csv', sep = ';')
mai = pd.read_csv('DECAP/2019/mai2019.csv', sep = ';')
jun = pd.read_csv('DECAP/2019/jun2019.csv', sep = ';')
jul = pd.read_csv('DECAP/2019/jul2019.csv', sep = ';')
ago = pd.read_csv('DECAP/2019/ago2019.csv', sep = ';')
sete = pd.read_csv('DECAP/2019/set2019.csv', sep = ';')
out = pd.read_csv('DECAP/2019/out2019.csv', sep = ';')
#nov = pd.read_csv('DECAP/2019/nov2019.csv', sep = ';')
dez = pd.read_csv('DECAP/2019/dez2019.csv', sep = ';')

In [3]:
dez.head(10)

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2019,1494541,1494541/2019,01/12/2019 00:45:32,01/12/2019 00:45:35,30/11/2019,21:20,A NOITE,01/12/2019,01/12/2019 00:45:32,...,LAJ0710,SP,SÃO PAULO,Preta,IMP/GM CORSA WIND,1996.0,NaN,AUTOMOVEL,NaN,NaN
1,2019,1494580,1494580/2019,01/12/2019 01:43:09,01/12/2019 01:42:46,29/11/2019,19:58,A NOITE,01/12/2019,01/12/2019 01:43:09,...,NZV9018,SP,SÃO PAULO,Preta,I/FORD FOCUS 2.0L FC,2012.0,NaN,AUTOMOVEL,NaN,NaN
2,2019,1494595,1494595/2019,01/12/2019 01:51:04,01/12/2019 01:50:31,30/11/2019,22:00,A NOITE,01/12/2019,01/12/2019 01:51:04,...,DUG7217,SP,SÃO PAULO,Cinza,FIAT/STRADA FIRE FLEX,2006.0,NaN,AUTOMOVEL,NaN,NaN
3,2019,4219,4219/2019,01/12/2019 02:37:51,01/12/2019 02:56:15,01/12/2019,NaN,DE MADRUGADA,01/12/2019,01/12/2019 02:37:51,...,DZU0078,SP,SAO PAULO,Preta,YAMAHA/XTZ 125E,2008.0,2009.0,MOTOCICLO,NaN,NaN
4,2019,11418,11418/2019,01/12/2019 02:19:54,01/12/2019 04:23:47,01/12/2019,00:16,DE MADRUGADA,01/12/2019,01/12/2019 02:19:54,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
5,2019,11418,11418/2019,01/12/2019 02:19:54,01/12/2019 04:23:47,01/12/2019,00:16,DE MADRUGADA,01/12/2019,01/12/2019 02:19:54,...,BHE3151,SP,ITAQUAQUECETUBA,Preta,FIAT/UNO ELETRONIC,1994.0,1994.0,AUTOMOVEL,NaN,NaN
6,2019,11418,11418/2019,01/12/2019 02:19:54,01/12/2019 04:23:47,01/12/2019,00:16,DE MADRUGADA,01/12/2019,01/12/2019 02:19:54,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
7,2019,11418,11418/2019,01/12/2019 02:19:54,01/12/2019 04:23:47,01/12/2019,00:16,DE MADRUGADA,01/12/2019,01/12/2019 02:19:54,...,BHE3151,SP,ITAQUAQUECETUBA,Preta,FIAT/UNO ELETRONIC,1994.0,1994.0,AUTOMOVEL,NaN,NaN
8,2019,11418,11418/2019,01/12/2019 02:19:54,01/12/2019 04:23:47,01/12/2019,00:16,DE MADRUGADA,01/12/2019,01/12/2019 02:19:54,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
9,2019,11418,11418/2019,01/12/2019 02:19:54,01/12/2019 04:23:47,01/12/2019,00:16,DE MADRUGADA,01/12/2019,01/12/2019 02:19:54,...,BHE3151,SP,ITAQUAQUECETUBA,Preta,FIAT/UNO ELETRONIC,1994.0,1994.0,AUTOMOVEL,NaN,NaN

In [4]:
todos = pd.concat([jan, fev, mar, abr, mai, jun, jul, ago, sete, out,dez])

In [5]:
todos.drop_duplicates(subset ="NUM_BO", keep = False, inplace = True)

In [6]:
todos = todos.drop(['NUM_BO', 'NUMERO_BOLETIM', 'PLACA_VEICULO', 'UF_VEICULO', 'CIDADE_VEICULO', 'MARCA_CELULAR', 'IDADE', 'SEXO', 'TIPOPESSOA', 'STATUS', 'DESDOBRAMENTO', 'FLAGRANTE', 'DESCRICAOLOCAL', 'QUANT_CELULAR', 'BO_AUTORIA', 'NUMERO_BOLETIM_PRINCIPAL', 'EXAME', 'SOLUCAO', 'NOMEPESSOA', 'VITIMAFATAL', 'RG', 'RG_UF', 'NATURALIDADE', 'NACIONALIDADE', 'DATANASCIMENTO', 'ESTADOCIVIL', 'PROFISSAO', 
'GRAUINSTRUCAO', 'CORCUTIS', 'NATUREZAVINCULADA', 'TIPOVINCULO', 'RELACIONAMENTO', 'PARENTESCO'], axis = 1)

In [7]:
todos = todos.drop(['DELEGACIA_NOME', 'DELEGACIA_CIRCUNSCRICAO', 'ESPECIE', 'RUBRICA'], axis = 1)

In [8]:
for col in todos:
    print(col)

A
Unnamed: 1
Unnamed: 2
Unnamed: 3
Unnamed: 4
Unnamed: 5
Unnamed: 6
Unnamed: 7
Unnamed: 8
Unnamed: 9
Unnamed: 10
Unnamed: 11
Unnamed: 12
Unnamed: 13
Unnamed: 14
Unnamed: 15
Unnamed: 16
Unnamed: 17
Unnamed: 18
Unnamed: 19
Unnamed: 20
Unnamed: 21
Unnamed: 22
Unnamed: 23
Unnamed: 24
Unnamed: 25
Unnamed: 26
Unnamed: 27
Unnamed: 28
Unnamed: 29
Unnamed: 30
Unnamed: 31
Unnamed: 32
Unnamed: 33
Unnamed: 34
Unnamed: 35
Unnamed: 36
Unnamed: 37
Unnamed: 38
Unnamed: 39
Unnamed: 40
Unnamed: 41
Unnamed: 42
Unnamed: 43
Unnamed: 44
Unnamed: 45
Unnamed: 46
Unnamed: 47
Unnamed: 48
Unnamed: 49
Unnamed: 50
Unnamed: 51
Unnamed: 52
Unnamed: 53
Unnamed: 54
Unnamed: 55
Unnamed: 56
ANO_BO
BO_INICIADO
BO_EMITIDO
DATAOCORRENCIA
HORAOCORRENCIA
PERIDOOCORRENCIA
DATACOMUNICACAO
DATAELABORACAO
LOGRADOURO
NUMERO
BAIRRO
CIDADE
UF
LATITUDE
LONGITUDE
DESCR_COR_VEICULO
DESCR_MARCA_VEICULO
ANO_FABRICACAO
ANO_MODELO
DESCR_TIPO_VEICULO

In [9]:
todos = todos.drop(['A',
'Unnamed: 1',
'Unnamed: 2',
'Unnamed: 3',
'Unnamed: 4',
'Unnamed: 5',
'Unnamed: 6',
'Unnamed: 7',
'Unnamed: 8',
'Unnamed: 9',
'Unnamed: 10',
'Unnamed: 11',
'Unnamed: 12',
'Unnamed: 13',
'Unnamed: 14',
'Unnamed: 15',
'Unnamed: 16',
'Unnamed: 17',
'Unnamed: 18',
'Unnamed: 19',
'Unnamed: 20',
'Unnamed: 21',
'Unnamed: 22',
'Unnamed: 23',
'Unnamed: 24',
'Unnamed: 25',
'Unnamed: 26',
'Unnamed: 27',
'Unnamed: 28',
'Unnamed: 29',
'Unnamed: 30',
'Unnamed: 31',
'Unnamed: 32',
'Unnamed: 33',
'Unnamed: 34',
'Unnamed: 35',
'Unnamed: 36',
'Unnamed: 37',
'Unnamed: 38',
'Unnamed: 39',
'Unnamed: 40',
'Unnamed: 41',
'Unnamed: 42',
'Unnamed: 43',
'Unnamed: 44',
'Unnamed: 45',
'Unnamed: 46',
'Unnamed: 47',
'Unnamed: 48',
'Unnamed: 49',
'Unnamed: 50',
'Unnamed: 51',
'Unnamed: 52',
'Unnamed: 53',
'Unnamed: 54',
'Unnamed: 55',
'Unnamed: 56',
], axis = 1)

In [10]:
for col in todos:
    print(col)

ANO_BO
BO_INICIADO
BO_EMITIDO
DATAOCORRENCIA
HORAOCORRENCIA
PERIDOOCORRENCIA
DATACOMUNICACAO
DATAELABORACAO
LOGRADOURO
NUMERO
BAIRRO
CIDADE
UF
LATITUDE
LONGITUDE
DESCR_COR_VEICULO
DESCR_MARCA_VEICULO
ANO_FABRICACAO
ANO_MODELO
DESCR_TIPO_VEICULO

In [11]:
todos.dtypes

ANO_BO                 float64
BO_INICIADO             object
BO_EMITIDO              object
DATAOCORRENCIA          object
HORAOCORRENCIA          object
PERIDOOCORRENCIA        object
DATACOMUNICACAO         object
DATAELABORACAO          object
LOGRADOURO              object
NUMERO                 float64
BAIRRO                  object
CIDADE                  object
UF                      object
LATITUDE                object
LONGITUDE               object
DESCR_COR_VEICULO       object
DESCR_MARCA_VEICULO     object
ANO_FABRICACAO         float64
ANO_MODELO             float64
DESCR_TIPO_VEICULO      object
dtype: object

In [12]:
todos.to_csv('DADOS/furtos_capital_2019.csv', index = False)